include *.in
include *.md
include *.mod
include *.txt
include .coveragerc
include tox.ini
include *.rst
include *.lock
include src/pygmst/genemark/Gibbs3
include src/pygmst/genemark/README.GeneMarkS-T
include src/pygmst/genemark/gm_key_64
include src/pygmst/genemark/gmhmmp
include src/pygmst/genemark/probuild
recursive-include src/pygmst *.default
recursive-include src/pygmst *.fa
recursive-include src/pygmst *.fai
recursive-include src/pygmst *.feature
recursive-include src/pygmst *.ipynb
recursive-include src/pygmst *.json
recursive-include src/pygmst *.lst
recursive-include src/pygmst *.mod
recursive-exclude src/pygmst *.pl
recursive-include src/pygmst *.py
recursive-exclude src/pygmst *.tbl
recursive-exclude tests *.fa
recursive-exclude tests *.faa
recursive-exclude tests *.fai
recursive-exclude tests *.feature
recursive-exclude tests *.fnn
recursive-exclude tests *.json
recursive-exclude tests *.lst
recursive-exclude tests *.mod
recursive-exclude tests *.pl
recursive-exclude tests *.py